html, body {
    height: 100%;
    margin: 0px;
}

.grid {
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
}

    .header {
        display: table-row;
        height: 10%;
    }

        .choce-file {
            margin: 20px;
        }

    .column {
        display: table-cell;
        text-align: center;
        height: 80%;
        width: 50%
    }

.free-box {
    display: inline-block;
    background-color: #d4d2d2;
    width: 70%;
    height: 90%;
}