html, body {
    width: 100%;
    height: 100%;
}
    body {
        display: table;
    }

    .screen-panel{
        height: 100%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

        #screen {
            display: inline-block;
            height: 50%;
            width: 50%;
            background-color: #424c5b;
        }